@model RoomRes.Presentation.ViewModels.RoomAddViewModel

@{
    ViewBag.Title = "Add room";
}

<h2>Add room</h2>

<form asp-controller="Room" asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Room.Id">ID:</label>
        <input asp-for="Room.Id" required />
        <span asp-validation-for="Room.Id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Room.Capacity">Capacity:</label>
        <input asp-for="Room.Capacity" required />
        <span asp-validation-for="Room.Capacity" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>

@if (ViewData["ErrorMessage"] is not null)
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}